h2 {
  text-align: center;
}

.row{

}

.thumbnail {
  background-color: rgba(0, 0, 0, 1);
  width:100%;
  margin-bottom: 2.5%;
  padding-bottom: 2.5%;
}

.thumbnail a{
  color:#fff;
}

.thumbnail h3, h4{
  color:#babdc1;
}

.caption{
  padding-bottom: 2%;
}

.attribution{
  margin-top:5px;
}
